.playing-card {
  max-width: 100%;
  max-height: 100%;

  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: white;

  user-select: none;
}

.playing-card-reversed {
  padding: 0;
}