.nav-bar {
  width: 100%;

  display: flex;
  flex-direction: row;

  padding: 1.125rem;
  border: 1px solid var(--border-primary);

  user-select: none;
}

.nav-bar span.site-title {
  color: var(--text-highlight);
}

.nav-bar * {
  margin-right: 1.25rem;
  /* border-bottom: 1px solid white; */
}